[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=gammastep -l 51.5072:-0.118092
Restart=on-failure
